language: php

# Use container-based infrastructure
sudo: false

php:
  - 5.4
  - 5.6
  - 7.0
  - 7.1

before_script:
  - composer self-update
  - composer install

script: vendor/bin/phpunit

notifications:
  email: false